
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.words {
  text-align: left;

}

.form-section-div {
  display: block;
  margin: 5em;
}

.nameField{
  display: block;
  width: 100%;
  margin-top: 1em;
  .inputWrapper{
    width: 65%;
    display: inline-block;
  }
  label {
    display: inline-block;
  }
}
span{
  position: relative;
  left: 4px;
  top: -2px;
}

.dims {
  display: block;
  width: 100%;
  padding-left: 1em;
  .dimensions {
    display: inline-block;
    input{
      width: 4em;
      max-width: 50%;
    }
    label, input, span {
      display: inline-block;
    }

  }
}

.project {
  display: block;
  margin-top: -30px;
  width: 100%;
  label, * {
    display: inline-block;
  }
  select{
    margin-left: -5px;
    width: 25em;
  }
}

.chckbx {
  margin-left: 35px;
}

.dayPicker{
  display: block;
  margin-bottom: -10px;
  label{
    display: inline-block;
  }
  label+span{
    display: inline-block;
    padding: 0;
    margin-bottom: -10px;
  }

}

.parts{
  display: block;
  margin-bottom: -2em;
  input{
    width: 4em;
  }
  *{
    display: inline-block;
  }
}

.price{
  display: block;
  input{
    width: 4em;
  }
  *{
    display: inline-block;
  }
}

.stlFile{
  display: block;
   *{
    display: inline-block !important;
  }
}

.showContainer{
  display: block;
  width: 55em;
  margin: auto;
  text-align: center;
  .rows{
    display: block;
    *{
      display: inline-block;
      margin: 1em;
    }
  }
}

// Section for the index table..

.indexTable{
  border-collapse: separate;

}
.id-td{
  border-right: none;
}
.fileLink{
  border: none;
  border-top: 1px solid #d6d6d6;
  border-right: 1px solid #d6d6d6;
}
.nameDiv{
  border-left: 1px solid #d6d6d6;
}
thead tr{
  border: none;
  th{
    border: none;
    background-color: #d6d6d6;
    border-top: 1px solid #f2f2f2;
  }
}
.hackAttack{
  background-color: #f2f2f2 !important;
  height: 4em;
  td{
    border-top: 1px solid #d6d6d6;
  }
}
.topRow td{
  border-top: 1px solid blue !important;
}

// tr{
//   background: rgba(256, 256, 256, .5) !important;
// }
