
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.words {
  text-align: left;

}

.form-section-div {
  display: block;
  // outline: 1px solid lime;
  margin: 5em;
}

.nameField{
  display: block;
  width: 100%;
  margin-top: 1em;
  // outline: 1px solid aqua;
  .inputWrapper{
    width: 65%;
    display: inline-block;
  }
  label {
    display: inline-block;
  }
}

.dims {
  display: block;
  width: 100%;
  padding-left: 1em;
  .dimensions {
    display: inline-block;
    input{
      width: 4em;
      max-width: 50%;
    }
    label, input, span {
      display: inline-block;
      margin: .2em;
    }
  }
}

.project {
  display: block;
  margin-top: -30px;
  // outline: 1px solid red;
  width: 100%;
  label, * {
    display: inline-block;
  }
  select{
    margin-left: -5px;
    width: 25em;
  }
}

.chckbx {
  margin-left: 35px;
}

.dayPicker{
  display: block;
  // outline: 1px solid blue;
  margin-bottom: -10px;
  label{
    display: inline-block;
  }
  label+span{
    display: inline-block;
    padding: 0;
    margin-bottom: -10px;
  }

}

.parts{
  display: block;
  input{
    width: 4em;
  }
  *{
    display: inline-block;
  }
}

.price{
  display: block;
  input{
    width: 4em;
  }
  *{
    display: inline-block;
  }
}

.stlFile{
  display: block;
  // outline: 1px solid yellow;
   *{
    display: inline-block !important;
  }
}
