
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";


.new-org-button{
  margin-bottom: 2em;
  margin-top: 1em;
}

.btn-space{
  margin-top: 48px
}

.descField{
  margin-top: -2.5em;
}

.orgChartInfo{
  display: block;
  margin-bottom: 2em;
  a{
    text-decoration: underline;
  }
}

.current{
  width: 35em;
  margin: 0;
  display: inline-block;
}

.discoveryZone{
  width: 30em;
  min-height: 100px;
  margin: auto;
  background: white;
  display: inline-block;
}

.discoveryZone2{
  width: 30em;
  min-height: 100px;
  // margin: auto;
  background: white;
  display: inline-block;
}
.fileRow{
  display: block;
  height: 10em;
}
.proposed{
  float: right;
  display: inline-block;
}


.dzInner{
  position: relative;
  border: 2px dashed lightgrey;
  width: 29.6em;
  top: 1px;
  padding: 30px 30px;
  margin: auto;
  em{
    text-decoration: underline;
  }
  p{
    font-size: 12px;
    text-align: center;
  }
  span{
    position: absolute;
    float: right;
    margin-top: -5em;
    margin-right: -1.5em;
  }
}

.dzInner2{
  position: relative;
  border: 2px dashed lightgrey;
  width: 29.6em;
  top: 1px;
  padding: 30px 30px;
  margin: auto;
  em{
    text-decoration: underline;
  }
  p{
    font-size: 12px;
    text-align: center;
  }
  span{
    position: absolute;
    float: right;
    margin-top: -5em;
    margin-right: -1.5em;
  }
}

#description-badge{
  position: absolute !important;
  display: block;
  left: 94% !important;
  top: 8px !important;
  margin: none;
  width: 53px;
}

#submit{
  position: relative;
  display: block;
  margin:auto;
  top: .5em;
}

.org_change_modal{
  display: block;
  span{
    select{
      margin: 0;
    }
  }
}

.org_change_td{
  width: 2em;
}

.personnel_table_td{
  width: 2em;
}

.mission_statements_table{
  margin-bottom: 0;
  tr{
    background: #f2f2f2 !important;
  }
}
.expanding_div{
  position: relative;
  display:block;
  height: 8em;
  // outline: 1px solid aquaMarine;
  margin-bottom: 1em;
  overflow: hidden;
  z-index: 4;
  border-bottom: .5px solid lightgrey;
}
.showLink{
  z-index: 2;
  position: absolute;
  background: linear-gradient( rgba( 0, 0, 0, 0), #f2f2f2, #f2f2f2, #f2f2f2);
  text-align: center;
  margin-left: 41px;
  bottom: 0;
  height: 20px;
}
