
// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.unit-box{
  background: white;
  width: 8em;
  height: 3.5em;
  display: inline-block;
  margin: 1em;
  text-align: center;
  :hover{
    cursor: pointer;
  }
  p:first-child{
    background: #6da9cf;
    color: white;
    font-weight: lighter;
    font-size: .75em;
    padding: 0;
    margin: 0;
    height: 1.3em;
    padding-bottom: 2em;
  }
  .code-text{
    font-size: 1.5em;
    font-weight: lighter;
    padding: 0;
    padding-top: .13em;
    margin: 0;
  }
}
.unit-box-container{
  display: block;
  ul{
    display: none;
    list-style-type: none;
  }
  h1{
    display: inline;
  }
  h4{
    display: inline;
    text-decoration: underline;
  }
}
h1{
  i{
    width: 20px;
  }
  :hover{
    cursor: pointer;
  }
}
.org_structrue_search_div{
  margin-top: -6em;
  display: block;
  height: 10em;
  width: 20em;
  input{
    width: 20em;
    margin-top: 1.5em;
    // display: inline;
    position: absolute;
  }
  a{
    margin-left: 1em;
    display: block;
  }
}

.org_structure_show_select_div{
  display: block;
  margin-top: 6em;
  select{
    width: 20em;
  }
}

/*// Purpose: boxes*/
.purposeBox  {
  margin-top: 23px;
  margin-bottom: 23px;
  font-size: 14px;
  padding: 14px 23px;
  background-color: #f4f4f4;
  border: 1px solid #d6d6d6;
  .col-md-1.pull-right{
    text-align: right;
  }
}
.pBoxTable{
  text-align: center;
  border: none;
  margin-top: 0em;
  tr{
    background: #f4f4f4 !important;
    border: none;
  }
  td{
    background: rgba(0,0,0,0);
    border: none;
    line-height: 1em;
  }
  td:nth-child(odd){
    text-align: right;
    width: 10em;
  }
  td:nth-child(even){
    text-align: left;
  }
}

.assignments-table{
  .container-fluid{
    border-top: 1px solid #d6d6d6;
    padding-top: 1em;
    padding-bottom: 1em;
  }
}
.row{
  *{
    line-height: 2em;
  }
  .text-left{
    margin-left: -1.5em;
  }
}
