
// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.unit-box{
  background: white;
  width: 6.5em;
  height: 3em;
  display: inline-block;
  margin-left: 1.5em;
  margin-right: 1em;
  text-align: center;
  border: 1px solid #dcdcdc;
  :hover{
    cursor: pointer;
  }
  .hack-class{
    background: #6da9cf;
    color: white;
    font-weight: lighter;
    font-size: .8em;
    padding: 0;
    margin: 0;
    height: 1.25em;
    display: block;
    padding-bottom: 1.5em;
    text-align: center;
  }

  .unit-type{
    position: inline;
    display: block;
    padding-bottom: .5em;
    text-align: center;
    margin-top: -.25em;
  }
  .code-section{
    font-size: 1.25em;
    font-weight: lighter;
    padding: 0;
    padding-top: .13em;
    margin: 0;
    height: 2em;
  }
  .code-text{
    position: absolute;
    display: block;
    padding-bottom: .5em;
    padding-top: .1em;
    margin-left: 1.35em;
    margin-top: -.25em;
  }
}
.unit-box-container{
  display: block;
  margin-top: 1em;
  width: 40em;
  ul{
    display: none;
    list-style-type: none;
  }
  h4{
    display: inline;
    position: absolute;
    text-decoration: underline;
    font-size: 1.25em;
    margin-top: .75em;
  }
  h1{
    font-size: 2em;
    display: inline;
    margin-top: .25em;
    // margin-right: .4em;
    position: absolute;
    i{
      width: .5em;
    }
    :hover{
      cursor: pointer;
    }
  }
}

.box-holder{
  // padding: 1em;
  width: 30em;

}
.org_structrue_search_div{
  margin-top: -6em;
  display: block;
  height: 10em;
  width: 20em;
  input{
    border-radius: 20px;
    height: 26px;
    line-height: 26px;
    background: url("/build/images/search-icon-blue.png") 10px center no-repeat #fff;
    padding-left: 30px;
    width: 20em;
    margin-top: 1.5em;
    position: absolute;
  }
  a{
    margin-left: 1em;
    display: block;
  }
}

.org_structure_show_select_div{
  display: block;
  margin-top: 6em;
  select{
    width: 20em;
  }
}

/*// Purpose: boxes*/
.purposeBox  {
  margin-top: 23px;
  margin-bottom: 23px;
  font-size: 14px;
  padding: 14px 23px;
  background-color: #f4f4f4;
  border: 1px solid #d6d6d6;
  .col-md-1.pull-right{
    text-align: right;
  }
}
.pBoxTable{
  text-align: center;
  border: none;
  margin-top: 0em;
  tr{
    background: #f4f4f4 !important;
    border: none;
  }
  td{
    background: rgba(0,0,0,0);
    border: none;
    line-height: 1em;
  }
  td:nth-child(odd){
    text-align: right;
    width: 10em;
  }
  td:nth-child(even){
    text-align: left;
  }
}

.assignments-table{
  .container-fluid{
    border-top: 1px solid #d6d6d6;
    padding-top: 1em;
    padding-bottom: 1em;
  }
}
.row{
  *{
    line-height: 2em;
  }
  .text-left{
    margin-left: -1.5em;
  }
}
.orgInfoModal label{
  max-width: none;
}
.row.chris{
  margin-top: 1em;
  input{
    margin-left: -2em;
  }
  select{
    margin-left: -2em;
  }
}
#orgModalPicker{
  margin-top: 1em;
 .col-md-2{
  margin-left: -3.6em;
  }
}
.pickerInput{
  margin-left: -4.25em;
}
.form-row .col-md-2 label{
  margin-left: -3em;
}

.dzoneModal{
  position: relative;
  border: 2px dashed lightgrey;
  top: 1px;
  padding: 30px 30px;
  margin: auto;
  em{
    text-decoration: underline;
  }
  p{
    font-size: 12px;
    text-align: center;
  }
  span{
    position: absolute;
    float: right;
    margin-top: -5em;
    margin-right: -1.5em;
  }
}
